header {
    position: fixed;
    top: 0;
    left: 0;
    
    z-index: 1000;

    padding: 4rem 10rem;

    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: .25s ease;
}

header.sticky {
    background: #fff;
    padding: 1rem 10rem;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header .logo {
    color: #fff;
    font-weight: 700;
    font-size: 3.5rem;
    text-decoration: none;
}

header.sticky .logo {
    color: #111;
}

header .logo span {
    color: #ff0157;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
    margin-left: 5rem;
}

header .navigation li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 300;
}

header.sticky .navigation li a {
    color: #111;
}

header .navigation li a:hover{
    color: #ff0157;
}